automations/n8n/2_novo_usuario_boasvindas.json
{
  "name": "MeuPet - 2 - Novo usuário",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meupet-novo-usuario",
        "options": {}
      },
      "id": "webhook2",
      "name": "Webhook - novo profile",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{$json.headers['x-meupet-secret']}}", "value2": "SEU_WEBHOOK_SECRET_AQUI" }
          ]
        }
      },
      "id": "if2secret",
      "name": "Confirma secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait2",
      "name": "Espera 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "url": "https://dllchewamguyzudlkpxu.supabase.co/rest/v1/profiles?select=count()",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUA_SERVICE_ROLE_KEY_AQUI" },
            { "name": "Authorization", "value": "Bearer SUA_SERVICE_ROLE_KEY_AQUI" }
          ]
        },
        "options": {}
      },
      "id": "http2",
      "name": "Conta total de usuários",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [660, 300],
      "retryOnFail": true,
      "waitBetweenTries": 300000
    },
    {
      "parameters": {
        "chatId": "SEU_TELEGRAM_CHAT_ID_AQUI",
        "text": "=🐾 *Novo tutor no MeuPet!*\n👤 Nome: {{$node[\"Webhook - novo profile\"].json.body.record.full_name}}\n📍 Cidade: {{$node[\"Webhook - novo profile\"].json.body.record.city || 'não informado'}}\n📅 {{$node[\"Webhook - novo profile\"].json.body.record.created_at}}\nTotal de usuários: {{$json[0].count}}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram2",
      "name": "Telegram - avisa admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [880, 300],
      "credentials": {
        "telegramApi": { "id": "PREENCHER_APOS_IMPORTAR", "name": "Telegram MeuPet Bot" }
      },
      "retryOnFail": true,
      "waitBetweenTries": 300000
    },
    {
      "parameters": {
        "content": "## E-mail de boas-vindas\nAinda não implementado: o MeuPet não tem serviço de e-mail (SMTP) configurado. Quando tiver, adicione aqui um node de Email/SendGrid depois do node de Telegram, usando o mesmo full_name/email do webhook.",
        "height": 200,
        "width": 280
      },
      "id": "note2",
      "name": "Nota - e-mail futuro",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [880, 480]
    }
  ],
  "connections": {
    "Webhook - novo profile": { "main": [[{ "node": "Confirma secret", "type": "main", "index": 0 }]] },
    "Confirma secret": { "main": [[{ "node": "Espera 30s", "type": "main", "index": 0 }]] },
    "Espera 30s": { "main": [[{ "node": "Conta total de usuários", "type": "main", "index": 0 }]] },
    "Conta total de usuários": { "main": [[{ "node": "Telegram - avisa admin", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
